@import "../../../styles/mixins.scss";

.container {
  margin-top: 4rem;
  background: var(--black-2);
  padding: 2.5rem 4rem;
  padding-bottom: 5rem;
  border-radius: 0.8rem;

  h3 {
    font-weight: 300;
  }
}

.patent {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  background: #111;
  border-radius: 0.8rem;
  padding: 2rem;
  background: #333;
  border-radius: 0.8rem;
  padding: 2rem;
  grid-column: span 2;
  text-align: center;
  line-height: 3rem;

  @media (max-width: 800px) {
    text-align: left;
  }

  p {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    text-decoration: none !important;
    white-space: nowrap;
    color: #3291ff;
  }

  a:after {
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    bottom: -4px;
    width: 100%;
    display: block;
    position: absolute;
  }

  a:hover:after {
    background-color: #3291ff;
    transform: scaleX(1);
  }
}

.skillsGrid {
  @include start-animation-state;
  display: flex;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  grid-column-gap: 7.5rem;
  -moz-column-gap: 7.5rem;
  column-gap: 7.5rem;
  justify-content: inherit;

  @media (max-width: 750px) {
    grid-template-columns: repeat(2, auto);

    // div:last-child {
    //   grid-column: 2 / 4;
    // }
  }
}

.skillSection {
  display: flex;
  flex-direction: column;
  width: fit-content;

  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--white);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    padding: 0rem;
    margin-right: 2rem;

    li {
      font-weight: 200;
    }
  }
}

.active {
  color: var(--white);
}

.tabs {
  @include start-animation-state;
  display: flex;
  gap: 1rem;

  p {
    cursor: pointer;
  }

  p:first-of-type::after {
    content: "/";
    margin-left: 1rem;
  }
}
