.footer {
  font-size: 1.6rem;
  font-weight: bold;
  position: fixed;
  bottom: 1.7rem;
  left: 1.7rem;
  color: var(--text-color);
}

.imgs {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    cursor: pointer;
  }
}
