.intro {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  line-height: 2.9rem;
  min-width: 300px;
  max-width: 600px;
  margin-top: 10rem;
  height: 60vh;
  min-height: 500px;
  row-gap: 5rem;

  h1 {
    color: var(--white);
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 2.4rem;
    font-weight: 100;
  }
}

.introText {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2.5rem;
  margin: auto;
}
