.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 20rem;
}

.grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 4rem;
  column-gap: 7.5rem;
}

.attribute {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    font-size: 90%;
    font-weight: 200;
  }
}

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  h2 {
    margin: 1.5rem;
    // background: linear-gradient(92.85deg, #252fff -29.84%, #7cc0e2 99.02%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.blueGradient {
  background: linear-gradient(92.85deg, #252fff -29.84%, #7cc0e2 99.02%);
}

.purpleGradient {
  background: linear-gradient(
    92.85deg,
    rgb(255, 159, 225) -29.84%,
    rgb(135, 39, 255) 99.02%
  );
}

.pinkishGradient {
  background: linear-gradient(
    92.85deg,
    rgb(135, 39, 255) -29.84%,
    #007cf0 99.02%
  );
}

.orangeGradient {
  background: linear-gradient(92.85deg, #f2a624 -29.84%, #f57027 99.02%);
}

.line {
  width: 0.1rem;
  background: var(--black-2);
  height: 10rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--black-2);
}
