.projectsSection {
  margin: auto;
  padding: 0rem 8rem;
  margin-top: var(--distance-btwn-sections);

  h1 {
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 8rem;
  }
}

.projects {
  display: flex;
  column-gap: 12.5rem;
  justify-content: center;
}

.project {
  background: var(--black-2);
  border-radius: 8px;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  cursor: pointer;

  img {
    width: 4rem;
  }
}
