:root {
  --distance-btwn-sections: 15rem;

  .modal-open {
    overflow: hidden;
    margin-right: 1.8rem !important;
    padding-left: 0rem;
    padding-top: 0rem;
    padding-right: 0rem;
    margin-left: 0;
    margin-top: 0;
  }

  .animate {
    opacity: 1;
    transform: translateY(0);
  }
}
