:root {
  --distance-btwn-sections: 15rem;

  .modal-open {
    overflow: hidden;

    @media (max-width: 1000px) {
      margin-right: 0rem;
    }
  }

  .animate {
    opacity: 1;
    transform: translateY(0);
  }
}
